@import 'constants';

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    min-width: 700px;
}

h2 {
    font-size: 26px;
    margin-bottom: -20px;
}

#welcomeTitle {
    margin: 30px;
    white-space: nowrap;
}

.grid2C {
    display: grid;
    grid-template-columns: $sideBarWidth auto;
    height: 100%;
}

.category {
    background-color: $theme-color;
    height: 100%;

    #categoryList {
        height: 650px;
        overflow-y: scroll;
    }

    .categoryName {
        margin-left: 30px;
        margin-right: 40px;
        width: 180px;
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center; /* Vertical align */
        height: 50px;
        font-weight: 600;
    
        .numOfItems {
            display: none;
        }
    }

    .selectedCategory {
        background-color: $theme-color-light;
        
        .numOfItems {
            display: inline;
        }
    }
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.noBackgroundBtn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.coloredBtn {
    background-color: $theme-color_dark;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 20px 8px 20px;
}

@mixin dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.redDot {
    @include dot;
    background-color: red;
}

.yellowDot {
    @include dot;
    background-color: yellow;
}

.greenDot {
    @include dot;
    background-color: green;
}

.greyDot {
    @include dot;
    background-color: grey;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

#newFolder {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 17px;
    background-color: $theme-color;
    width: $sideBarWidth;
    text-align: left;
    padding-left: 10px;
}

/* Pop up */
/* background */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 700px;

        #addTaskForm {
            margin: 0px 40px;
        }

        #submitNewTaskBtn {
            margin-bottom: 10px;

        }
    }

        /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 30px;
        font-weight: bold;
        margin-right: 15px;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

textarea {
    display: block;
    outline: none;
    border-radius: 7px;
    border: 1px solid grey;
    width: 600px;
    height: 80px;
    resize: none;
}

#addTaskSelect {
    margin: 10px 0px;

    #selectDate, #selectTime, #selectPriority {
        margin-right: 10px;
        border-radius: 3px;
        border: 1px solid grey;
        padding: 3px;
    }
}

.completedItem {
    text-decoration: line-through;
    color: grey;
}

.incompleteItem {
    text-decoration: none;
}

#todoList {
    overflow-y: scroll;
}

#mainAll {
    margin: 40px 10%;

    #changeCategoryInput {
        height: 35px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid grey;
        margin-right: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    #mainCtrl {
        display: block;
        width: 100%;
        text-align: right;
        margin-bottom: 30px;
        white-space: nowrap;
    
        #addTaskBtn {
            font-size: 14px;
            margin-bottom: 20px;
        }
    
        #deleteCategoryBtn {
            padding: 8px;
            background-color: white;
            border-radius: 7px;
            border: 1px solid grey;
            font-size: 12px;
        }
    
        #sortSelect {
            margin-left: 10px;
            padding: 6px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid grey;
            font-size: 12px;
        }
    }
    
    #mainTodos {
        width: 100%;
    
        #todoNameLabel {
            display: inline-block;
            width: 80%;
            font-size: larger;
            margin-left: 10px;
        }
    
        #oneTodoItem {
            border-bottom: 1px solid black;
            padding: 10px;
            white-space: nowrap;
        }
    
        #todoDate {
            color: grey;
            margin-top: 6px;
        }
    
        #completeCheckbox {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5); /* Opera */
            transform: scale(1.5);
            margin-right: 30px;
            padding: 10px;

        }

        #deleteItemCross {
            :hover {
                color: #b83333;
            }
        }
    }  
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Tooltip ends */
