.btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary {
  background-color: #E9897E;
  color: white;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 15px;
}

.allBody {
  margin: 40px;
}

h1 {
  font-weight: 700;
  display: inline-block;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  margin: 0;
}

.navBarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18), 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  top: 0;
  background-color: white;
}

.navBarLi {
  float: left;
  text-transform: uppercase;
}
.navBarLi .navBarA {
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navBarLi .navBarA:hover {
  background-color: #e9e7e7;
}

.navBarLogo {
  width: 110px;
  padding: 17px 30px 0px 16px;
}

.homeIllustrator {
  width: 300PX;
}

.grid2C {
  display: grid;
  grid-template-columns: auto auto;
}

.grid3C {
  display: grid;
  grid-template-columns: auto auto auto;
}

.jobPostHome {
  width: 400px;
  padding: 10px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 10px;
}
.jobPostHome .description {
  width: 280px;
}

.studioLogoS {
  width: 100px;
  display: inline-block;
  margin-right: 15px;
}

.time {
  font-size: smaller;
  color: grey;
  text-align: right;
}

.peoplePreviewImg {
  width: 35px;
  border-radius: 50%;
}

.eventPost1 {
  width: 300px;
  height: 370px;
  background-color: #EDF1FF;
  margin: 10px;
  border-radius: 5px;
}
.eventPost1 .evtImg {
  width: 300px;
}
.eventPost1 .evtTitle {
  margin: 10px;
}
.eventPost1 .evtTime {
  color: #E9897E;
  margin: 10px;
}
.eventPost1 .evtTitle {
  font-weight: bold;
  height: 70px;
}
.eventPost1 .evtPpl {
  margin: 10px;
  bottom: 0px;
}
.eventPost1 .evtPpl .evtPplNumber {
  display: inline-block;
}
